.App-Header{
  background-color: #d7ccc8;
  height: 56px;
  box-shadow: black 0px 1px 3px;
}
.App-Header-Logo{
  height: 56px;
}

.Title-Wrapper{
  width: 100%;
  height: 156px;
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3) ),url(assets/tree-background.jpg);
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.Title-Text{
  font-size: 30pt;
  margin-top:30px;
  display: flex;
  justify-content:center;
  align-items:center;
  font-weight: bold;
  color:white;
}

.Title-Divider{
  color: white;
  background-color: white;
  height: 3px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.Title-Sub-Text{
  color: white;
  font-size: 20px;
  margin-top: 3px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Palette{
  padding: 30px;
}
.Tembar-board{
  position:relative;
  border: black 1px solid;
}
.TB-slot{
  padding: 10px;
  font-size: 17px;
}

.Input-Form{
  height: auto;
  width: 750px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.radio{
  border:none;
  width: 16px;
  margin-right: 10px;
  
}

.input-button{
background: #5493ff;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
  font-weight: bold;
  box-shadow: black 0px 1px 3px;
}
.input-button:active{
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
.input-button:hover{
  background: #335ca3;
}
.input-col{
  margin-top:10px;
}
.input-box{
  border: 0.1px solid black;
  font-size: 18px;
  width: 50px;
  padding:5px;
}
.input-box-button{
  padding: 5px;
  margin-top:0px;
  justify-content: center;
  align-content: center;
}


label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background: #5493ff;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  font-weight: bold;
}


button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #335ca3;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}



input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"]

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 10px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.input-liner{
  width: 30px;
}